<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>

  </nav>

  <div class="sidebar-item">
    <p class="social-icons">
      <!-- Add and/or remove sites to your heart's content -->
      {% if site.social.facebook %}
      <a data-title="facebook.com/{{ site.social.facebook }}" href="https://facebook.com/{{ site.social.facebook }}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook" /></svg></a>
      {% endif %}
      {% if site.social.twitter %}
      <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter" /></svg></a>
      {% endif %}
      {% if site.social.stackoverflow %}
      <a href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}" target="_blank"><svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow" /></svg></a>
      {% endif %}
      {% if site.social.github %}
      <a href="https://github.com/{{ site.social.github }}" target="_blank"><svg class="icon icon-github"><use xlink:href="#icon-github" /></svg></a>
      {% endif %}
      <a href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss" /></svg></a>
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>

</div>
