.sidebar .social-icons {
  font-size: 20px;
  margin-top: -16px;
  margin-left: -6px;
  a {
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 1);
    }
  }
}
