html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

code,
pre {
  font-family: "Consolas", Menlo, Monaco, "Courier New", monospace;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

h3 {
  margin-top: 1rem;
  font-size: 1.125rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

.related-posts {
  li {
    a:hover {
      text-decoration: underline;
    }
  }
}

/* Gist via GitHub Pages */
.gist-data {
  table {
    border: none
  }
  td, th {
    border: none
  }
}

.gist .gist-file {
  font-family: "Consolas", Menlo, Monaco, "Courier New", monospace !important;
}

.emoji {
  display: inline;
}

.sidebar {
  font-family: Helvetica, Arial, sans-serif;
}

a.sidebar-nav-item {
  font-size: 1rem;
}

.pagination {
  font-family: Helvetica, Arial, sans-serif;
}

/* This is for the collapsible sections, but it only allows to expand a single section at a time, so it's not so cool.
   Ideally, we'd have <details> tags, but the support is still not very broad. */

/*
.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}
*/
