---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.tags.first != null %}
    <p class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</p>
    {% endif %}
      <span class="post-date">
        {% capture the_date %}{{ page.date }}{% endcapture %}
        {% include date.html %}
      </span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <small>
            {% capture the_date %}{{ post.date }}{% endcapture %}
            {% include date.html %}
          </small>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
  {% include disqus.html %}
{% endif %}
